<!DOCTYPE html>
<html>
<head>
  <title>Tavern</title>
  <link rel="stylesheet" type="text/css" href="static/styles/style.css">
</head>

<body>
    <form id="Login">
        <input type="text" id="username" name="username" placeholder="Введите ваше имя" >
        <br>
        <input type="password" id="password" name="password" placeholder="Введите пароль">
        <br>
        <button type="button" id="login-button" class="login-button">Авторизироваться</button>
        <br>
        <button type="button" id="register-button" class="register-button">Регистрация</button>
    </form>
    <script src="static/scripts/login.js"></script>
</body>
</html>
